##This is the _PMDB configuration file
##Designed at Dec 27, 2019 by Xiaoquan Su
##Bioinformatics Group, Single-Cell Research Center, QIBEBT, CAS
##For Parallel-META 3.5 or higher
#
#Database config starts
#
#GreenGenes 13-8 16S rRNA, default database, do not change
#Database id, one single symbol
G
#Database domain, 0 for prokaryote, 1 for eukaryote
0
#Database name (also the path)
gg_13
#Database description
GreenGenes-13-8 (16S rRNA, 97% level)
#If contains the taxaonomy annotation, Y or N
Y
#If contains the phylogeny tree, Y or N
Y
#If contains the copy number, Y or N
Y
#If contains the function prediction information, Y or N
Y
#
#MetaPhlAn2
#Database id, one single symbol
M
#Database domain, 0 for prokaryote, 1 for eukaryote
0
#Database name (also the path)
metaphlan2
#Database description
MetaPhlAn2
#If contains the taxaonomy annotation, Y or N
Y
#If contains the phylogeny tree, Y or N
Y
#If contains the copy number, Y or N
N
#If contains the function prediction information, Y or N
N
#
